<!doctype html>

<html lang="en-US">
<head>
<meta charset="UTF-8" />
	<title>A Web based e-Document reading System</title>
	<script language="javascript" src="/static/jquery-1.6.1.min.js" type="text/javascript"></script>
	<script language="javascript" src="/static/maininterface.js" type="text/javascript"></script>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
	<link href="/static/css/print/main.css" rel="stylesheet" type="text/css" media="print">


</head>

<body onLoad="getebooks();">
<div id="wrap">

<section id="top">
<nav id="mainnav">


</nav>
</section>
<section id="page">
<header id="pageheader" class="homeheader">
	<h1 class="sitedescription">
	A Web based e-Document reading System
    </h1>
</header>

<section id="contents" >

<div id="ebook" class="submit_link">
		<h2>Your E-Books:</h2>
		<select name="ebooklist" id="ebooklist" onChange="changeTest()">
        	<option></option>
		</select>
        <input type="submit" value="start reading" onClick="readbook()" class="alt_btn"/>
</div>

<div class="clear"></div>
<br/>
<h2 class="mainfont" > The information of this paper : <div id="ebookinfo" ></div></h3><br/>
<div id="ebookinfo" class="mainfont">
Ebook title: <p id='ebooktitle'></p><br/>
Ebook author: <p id='ebookauthor'></p><br/>
Created at: <p id='ebookcreated'></p><br/>
Language:<p id='ebooklang'></p><br/>
Description: <p id='ebookdescription'></p><br/>
History:<p id='ebookhistory'></p><br/>
</div>
<input name="" id = 'is_continue' type="checkbox" checked="checked" />
<font size=3>Keep on reading.</font>
</section>


<div class="clear"></div>

<div class="clear"></div>
</section>
</div>
<footer id="pagefooter">
<div id="f-content">
<img src="static/images/bamboo.png" width="96" height="125" alt="bamboo" id="footerimg">
<div id="social-links">
  
</div>
<div id="credits">
<p class="sitecredit"> 2013 &amp; By Jojo </p>
<p class="designcredit"><a href="http://www.cssheaven.org" title="Download Free CSS Templates">CSS Template</a> by CSSHeaven</p>

</div>
</div>

</footer>

</body>
</html>
