<html>
	<head>
		<title>A Web based e-Document reading System</title>
	</head>
	<body>
		<h1>A Web based e-Document reading System</h1>
		<p>Here is a published article, you can check the algorithm in publications.<br>
		</p>
		
	<form action=/cgi-bin/post-query method=POST>
	<textarea name=comment rows=5 cols=60>
	</textarea>
	<P>
	<input type=submit><input type=reset>
	</form>
			
		<p>
		Hello, {{ your_name }}
		</p>
		<p>
		The current time is {{ current_time }}
		</p>
	</body>
</html>